@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,900;1,900&display=swap');
:root {
    margin: 0;
    padding: 0;
}
body{font-family:"Lato", sans-serif;}
.bg-purple{background-color: #8e00a3;}
.headerWrapper .top-strip{padding:8px 0px ;}
.headerWrapper .top-strip p{color: #fff;}
.headerWrapper .header{width: 100%;height: auto;padding: 15px 0px;}
.logoWrapper img{width:200px}
.headerWrapper .header .part2 .countryDrop{width: 170px;height: 60px;min-width: 170px;
    color: #000;border:1px solid rgba(0,0,0,.2) !important;border-radius: 7px !important;padding: 10px 15x;margin: 10px;}
.headerWrapper .header .part2 .countryDrop{text-align: left;justify-content:space-between;}
.headerWrapper .header .part2 .countryDrop .label{font-size: 12px !important;text-transform: capitalize !important;
color: rgba(0,0,0,0.5) !important;line-height: 16px;}
.headerWrapper .header .part2 .countryDrop .name{font-size: 14px !important;text-transform: capitalize !important;
color:rgba(0,0,0,0.7) !important;font-weight: 700;line-height: 16px;}
header .headerSearch{width: 60%;height: 60px;background-color: #f3f4f7;padding: 10px;position: relative;border-radius: 10px;
border:1px solid rgba(0,0,0,0.1)}
header .headerSearch input{background-color: transparent;outline:none;font-size:14px;border: 0px;padding: 10px 20px;}
header .headerSearch button{position: absolute;top: 15px;right: 15px;z-index: 100;min-width: 40px !important;height: 40px
!important;width: 40px !important;border-radius: 50%;font-size: 25px;}